*{
    box-sizing: border-box;
}

body{
    width: 100vw;
}

img{
    width: 100%;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

select{
    border: none;
    outline: none;
}

header{
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
    position: sticky;
    z-index: var(--mer-z-index-navigation-top);
    top: 0px;
}

.header__logo{
    width: 250px;
    height: fit-content;
    vertical-align: middle;
}

.header_search{
    display:flex;
    height:100%;
    padding:10px 0;
}
.header_search--input{
    border:none;
    padding:0 20px;
    width:25vw;
}

.header_search--button{
    display:none;
}

.header__nav{
    display: flex;
}

.header__nav ul{
    display: flex;
    align-items: center;
}

.header__nav li{
    margin-right: 30px;
}

.header__nav li:hover{
    font-weight: bold;
}

.header__logout{
    color: #fff;
    font-size: 16px;
}

.header__logout:hover{
    font-weight: bold;
}

.header__btn{
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    padding: 10px 15px ;
}

.header__btn:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.container{
    padding: 5%;
}

.btn{
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    width: 450px;
    height: 45px;
}

.btn:hover{
    opacity: 0.8;
    transition: 0.2s;
}

.btn--big{
    width: 100%;
    height: 60px;
    margin-top: 75px;
    font-size: 26px;
    border-radius: 5px;
}

.btn2{
    border: 2px solid #FF5555;
    border-radius: 10px;
    color: #FF5555;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.btn2:hover{
    cursor: pointer;
}

.btn2--input{
    display: none;
}

.center{
    width: 680px;
    margin: 0 auto;
    padding: 50px 0;
}

.page__title{
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
}

.page__title--register{
    font-size: 36px;
    text-align: center;
    margin-bottom: 46px;
}

.entry__name{
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 10px 0;
}

.entry__name--register{
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 6px 0 10px 0;
}

.input{
    width: 100%;
    height: 60px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 30px;
}

.input--register{
    width: 100%;
    height: 45px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 30px;
}

.form__error{
    color: #ff333f;
    margin-top: 8px;
}

.disable{
    color: #666 !important;
    background-color: #CCC !important;
}

.link--register{
    text-align: center;
    color: #0073CC;
    margin-top: 35px;
    font-size: 20px;
}

@media (min-width: 768px) and (max-width: 850px) {
    .header__logo {
        width: 25vw;
    }
}
