body 
{
    background-color: #F0EFF2;
    height: auto;
}

.main-box
{
    width:900px;
    height:auto;
    margin: 0 auto;
    display: block;
    justify-content: center; /* 左右中央 */
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

.title-box {
    display: flex;
    justify-content: left;
    margin-top: 130px;
    margin-bottom: 95px;
}

.title-bar {
    width: 8px;
    height: 40px;
    display: inline;
    margin-right: 20px;
    transform-origin: center;
    background-color: #000000;
    border-width: 8px;
}

.index-table {
    width: 900px;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-top: 3px solid #F0EFF2;
    border-bottom: 3px solid #F0EFF2;
}

table th, table td {
    height: 45px;
    text-align: center;    /* 左右中央 */
    vertical-align: middle; /* 上下中央 */
    /* 縦罫線を消し、横罫線だけにする */
    border-top: 3px solid #E1E1E1;
    border-bottom: 3px solid #E1E1E1;
    border-left: none;
    border-right: none;
}

.index-table tr:first-child th {
  border-top: none;
}

.index-table tr:last-child td
{
  border-bottom: none;
}

/* 1列目: 左のパディングを大きく */
table td:nth-child(1), table th:nth-child(1) {
  padding-left: 125px;
  padding-right: 0px;
}

/* 2列目: 左右のパディングを均等に */
table td:nth-child(2), table th:nth-child(2) {
  padding-left: 0px;
  padding-right: 0px;
}

/* 3列目: 右のパディングを大きく */
table td:nth-child(3), table th:nth-child(3) {
  padding-left: 1px;
  padding-right: 100px;
}

.month-link {
    display: flex;
    justify-content: space-between;
}