body 
{
    background-color: #F0EFF2;
    height: auto;
}

.main-box
{
    width:900px;
    height:auto;
    margin: 0 auto;
    display: block;
    justify-content: center; /* 左右中央 */
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

.title-box {
    display: flex;
    justify-content: left;
    margin-top: 80px;
    margin-bottom: 47px;
}

.title-bar {
    width: 8px;
    height: 40px;
    display: inline;
    margin-right: 20px;
    transform-origin: center;
    background-color: #000000;
    border-width: 8px;
}

.index-table {
    width: 900px;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0 auto;
}

thead {
    color: #737373;
}

tbody a {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-top: 3px solid #F0EFF2;
    border-bottom: 3px solid #F0EFF2;
}

table th, table td {
    height: 45px;
    text-align: center;    /* 左右中央 */
    vertical-align: middle; /* 上下中央 */
    /* 縦罫線を消し、横罫線だけにする */
    border-top: 3px solid #E1E1E1;
    border-bottom: 3px solid #E1E1E1;
    border-left: none;
    border-right: none;
}

.index-table tr:first-child th {
    border-top: none;
}

.index-table tr:last-child td
{ 
    border-bottom: none;
}

table th:nth-child(1) {
    width: 180px;
    text-align: left;
    padding-left: 50px;
    padding-right: 0px;
}

table td:nth-child(1)
{
    padding-left: 10px;
    padding-right: 0px;
}

table th:nth-child(2),table th:nth-child(2) {
    width: 140px;
    padding-left: 0px;
    padding-right: 0px;
}
table th:nth-child(6),table th:nth-child(6) {
    width: 180px;
    padding-left: 0px;
    padding-right: 0px;
}

.month-link {
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FFFFFF;
    margin-bottom: 46px;
    align-items: center; 
}

a.icon-left {
    text-decoration: none;
    padding-left: 25px;
    background-image: url('/img/arrow.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
}

h2.icon-left {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding-left: 25px;
    background-image: url('/img/calender.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
}

a.icon-right {
    position: relative;
    padding-right: 25px; /* アイコンのスペース */
    text-decoration: none;
}

a.icon-right::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;  /* 画像の幅 */
    height: 15px; /* 画像の高さ */
    background-image: url('/img/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%) rotate(180deg);    /* 上下中央揃えにしてから180度回転 */
}
