@media screen and (max-width: 800px) {
.header {
    height: 62px;
}

.header__heading {
    width:300px;
    height: 30px;
    background-size:90%;
    vertical-align: middle;
    background-position: 30px 0px;
}

.mail-certification-frame-top {
    width: 768px;
}
}
.mail-certification-frame {
    padding-top:319px;
    display: block;
    margin: 0 auto;
}

.mail-certification-request {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}
.mail-certification-frame-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
.header {
    height: 82px;
}

.header__heading {
    width:380px;
    height: 46px;
    background-size:90%;
}

.mail-certification-frame-top {
    width: 1000x;
}
}

.mail-certification-direction {
    width: 257px;
    height: 69px;
    opacity: 1;
    border-radius: 10px;
    border-width: 1px;
    border-color: #000000;
    display: flex; /* 子要素をflexアイテムにする */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    background: #D9D9D9;
    margin-top: 62px;
}

.mail-certification-direction a {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    line-height: 100%;
    text-align: center;
    vertical-align: bottom;
    color: #000000;
    cursor: pointer;
}

.mail-form {
    margin-top:52px;
}
.mail-form-btn{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #0073CC;
}